{% extends 'website/base.html' %}

{% block content %}
{% load static %}
<!-- Begin:: Slider Section -->
        <section class="page_banner" style="background-image: url('{% static 'images/bg/team.png' %}');">
            <div class="container largeContainer">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="banner-title">About Us</h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="breadcrumbs"><a href="{% url 'home' %}" rel="v:url"><i class="twi-home-alt1"></i>Home</a><span>/</span>About Us</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End:: Slider Section -->

        <!-- About Start -->
        <section class="aboutSection04">
            <div class="container largeContainer">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="absThumb">
                            <img src="{% static 'images/home3/financial_operations.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="abpd">
                            <div class="subTitle"><span class="bleft"></span>Welcome To Hemlab Consultants</div>
                            <h2 class="secTitle">Enhance Your Financial Operations with Us</h2>
                            <p class="secDesc">
                                Our services streamline receivables management, third-party collections, and electronic billing, ensuring your business runs efficiently and effectively                            </p>
                            <div class="hpAuthor">
                                <img class="author" src="{% static 'images/about/1.png' %}" alt="">
                                <p>Need help? Contact Us</p>
                                <h3>(254)-1251-6677</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About End -->

        <!-- Word Process Start -->
        <section class="videoFact01 bg_fef4f4">
            <div class="container largeContainer">
               <div class="row">
                    <!-- <div class="col-xl-6">
                        <div class="video_banner">
                            <img src="{% static 'images/bg/video.jpg' %}" alt="">
                            <a href="https://player.vimeo.com/video/213907368?h=3685456d6c" class="popup_video"><i class="twi-play"></i></a>
                        </div>
                    </div> -->
                    <div class="col-xl-3 col-md-6">
                        <div class="fact_02">
                            <h5>Projects With 100% Satisfaction</h5>
                            <h2><span class="counter" data-count="2500">2.5</span><i>k</i></h2>
                            <p>A typical business holds many different...</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="fact_02">
                            <h5>Experienced & Professional Team</h5>
                            <h2><span class="counter" data-count="145">145</span></h2>
                            <p>A typical business holds many different...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Word Process End -->

        <!-- Team Start -->
        <section class="teamSection01">
            <div class="container largeContainer">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="subTitle"><span class="bleft"></span>Our Memebers<span class="bright"></span></div>
                        <h2 class="secTitle">Expert <span>Team</span></h2>
                    </div>
                </div>
                 <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team_01 text-center">
                        <div class="tm_thumb">
                            <img src="{% static 'images/team/profile1.png' %}" alt="">
                            <div class="tm_social">
                                <a href="https://www.facebook.com/"><i class="twi-facebook-f"></i></a>
                                <a href="https://linkedin.com/"><i class="twi-linkedin-in"></i></a>
                                <a href="https://twitter.com/"><i class="twi-twitter"></i></a>
                            </div>
                            <a class="tmsToggle" href="javascript:void(0);">+</a>
                        </div>
                        <h3><a href="#">Kwame Bediako</a></h3>
                        <p>Business Expert</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team_01 text-center">
                        <div class="tm_thumb">
                            <img src="{% static 'images/team/profile4.png' %}" alt="">
                            <div class="tm_social">
                                <a href="https://www.facebook.com/"><i class="twi-facebook-f"></i></a>
                                <a href="https://linkedin.com/"><i class="twi-linkedin-in"></i></a>
                                <a href="https://twitter.com/"><i class="twi-twitter"></i></a>
                            </div>
                            <a class="tmsToggle" href="javascript:void(0);">+</a>
                        </div>
                        <h3><a href="#">Amina Abdi</a></h3>
                        <p>Management</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team_01 text-center">
                        <div class="tm_thumb">
                            <img src="{% static 'images/team/profile2.png' %}" alt="">
                            <div class="tm_social">
                                <a href="https://www.facebook.com/"><i class="twi-facebook-f"></i></a>
                                <a href="https://linkedin.com/"><i class="twi-linkedin-in"></i></a>
                                <a href="https://twitter.com/"><i class="twi-twitter"></i></a>
                            </div>
                            <a class="tmsToggle" href="javascript:void(0);">+</a>
                        </div>
                        <h3><a href="#">Njoroge Mwangi</a></h3>
                        <p>Founder</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team_01 text-center">
                        <div class="tm_thumb">
                            <img src="{% static 'images/team/profile3.png' %}" alt="">
                            <div class="tm_social">
                                <a href="https://www.facebook.com/"><i class="twi-facebook-f"></i></a>
                                <a href="https://linkedin.com/"><i class="twi-linkedin-in"></i></a>
                                <a href="https://twitter.com/"><i class="twi-twitter"></i></a>
                            </div>
                            <a class="tmsToggle" href="javascript:void(0);">+</a>
                        </div>
                        <h3><a href="#">Kofi Amankwa</a></h3>
                        <p>Consultant</p>
                    </div>
                </div>
            </div>
                <div class="row mt38">
                    <div class="col-lg-8">
                        <div class="support">
                            <div class="spIcon">
                                <i class="twi-phone"></i>
                                {% comment %} <img src="{% static 'images/1.jpg' %}" alt=""> {% endcomment %}
                            </div>
                            <p>We are one of the highest graded company in Kenya. For any Kind of help please contact our <span>24/7 hotline call services.</span> we are ready for you</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="icon_box_04">
                            <div class="ib_box"><i class="twi-comments-alt-dollar"></i></div>
                            <p>Have any Questions?</p>
                            <h3>254 723 252 1589</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team End -->

        <!-- Why Choose Start -->
        <section class="chooseSection03 abcs01">
            <div class="container largeContainer">
                <div class="row">
                    <div class="col-xl-6 pdAcc">
                        <div class="subTitle"><span class="bleft"></span>Why Choose Us</div>
                        <h2 class="secTitle">Get Every Answer</h2>
                        <div class="accordion quAccordion" id="quAccordion01">
                            <div class="card">
                                <div class="card-header" id="ma_ac_01">
                                    <h2 class="mb-0">
                                        <button type="button" data-toggle="collapse" data-target="#ma_collapes_01" data-aria-expanded="true" data-aria-controls="ma_collapes_01">
                                            <span></span>
                                            Best Sources of Help and Advice for Your Business
                                        </button>
                                    </h2>
                                </div>
                                <div id="ma_collapes_01" class="collapse show" aria-labelledby="ma_ac_01" data-parent="#quAccordion01">
                                    <div class="card-body">
                                        You’re not on your own when setting up or running a business in the UK offier a wealth of information and expertise if you need help from filling in your tax forms to recruiting people or setting up your business
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="ma_ac_02">
                                    <h2 class="mb-0">
                                        <button class="collapsed" type="button" data-toggle="collapse" data-target="#ma_collapes_02" data-aria-expanded="false" data-aria-controls="ma_collapes_02">
                                            <span></span>
                                            Small business service with offices in most big towns
                                        </button>
                                    </h2>
                                </div>
                                <div id="ma_collapes_02" class="collapse" aria-labelledby="ma_ac_02" data-parent="#quAccordion01">
                                    <div class="card-body">
                                        You’re not on your own when setting up or running a business in the UK offier a wealth of information and expertise if you need help from filling in your tax forms to recruiting people or setting up your business
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="ma_ac_03">
                                    <h2 class="mb-0">
                                        <button class="collapsed" type="button" data-toggle="collapse" data-target="#ma_collapes_03" data-aria-expanded="false" data-aria-controls="ma_collapes_03">
                                            <span></span>
                                            Offices are helpful on recruitment and employing people
                                        </button>
                                    </h2>
                                </div>
                                <div id="ma_collapes_03" class="collapse" aria-labelledby="ma_ac_03" data-parent="#quAccordion01">
                                    <div class="card-body">
                                        You’re not on your own when setting up or running a business in the UK offier a wealth of information and expertise if you need help from filling in your tax forms to recruiting people or setting up your business
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="ma_ac_04">
                                    <h2 class="mb-0">
                                        <button class="collapsed" type="button" data-toggle="collapse" data-target="#ma_collapes_04" data-aria-expanded="false" data-aria-controls="ma_collapes_04">
                                            <span></span>
                                            Services including a legal helpline with disabilities
                                        </button>
                                    </h2>
                                </div>
                                <div id="ma_collapes_04" class="collapse" aria-labelledby="ma_ac_04" data-parent="#quAccordion01">
                                    <div class="card-body">
                                        You’re not on your own when setting up or running a business in the UK offier a wealth of information and expertise if you need help from filling in your tax forms to recruiting people or setting up your business
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="chImage">
                            <img src="{% static 'images/home3/3.jpg' %}" alt="">
                        </div>
                        <div class="chooseSlider owl-carousel">
                            <div class="chsItem">
                                <img src="{% static 'images/home3/4.png' %}" alt="">
                                <p>Where financial freedom comes to you</p>
                            </div>
                            <div class="chsItem">
                                <img src="{% static 'images/home3/4.png' %}" alt="">
                                <p>Modernize your finances with Hemlab</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why Choose End -->

        <!-- Bact To Top -->
        <a href="javascript:void(0);" id="backtotop"><i class="twi-arrow-to-top1"></i></a>
        <!-- Bact To Top -->

        <!-- Start Include All JS -->
            <script src="{% static 'js/jquery.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <script src="{% static 'js/jquery.appear.js' %}"></script>
            <script src="{% static 'js/owl.carousel.min.js' %}"></script>
            <script src="{% static 'js/shuffle.min.js' %}"></script>
            <script src="{% static 'js/nice-select.js' %}"></script>
            <script src="{% static 'js/lightcase.js' %}"></script>
            <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
            <script src="{% static 'js/circle-progress.js' %}"></script>
            <script src="{% static 'js/gmaps.js' %}"></script>
            <script src="https://maps.google.com/maps/api/js?key=AIzaSyBJtPMZ_LWZKuHTLq5o08KSncQufIhPU3o"></script>

            <!-- Slider Revolution Main Files -->
            <script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
            <script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>

            <!-- Slider Revolution Extension -->    
            <script src="{% static 'js/extensions/revolution.extension.actions.min.js' %}"></script>
            <script src="{% static 'js/extensions/revolution.extension.carousel.min.js' %}"></script>
            <script src="{% static 'js/extensions/revolution.extension.kenburn.min.js' %}"></script>
            <script src="{% static 'js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
            <script src="{% static 'js/extensions/revolution.extension.migration.min.js' %}"></script>
            <script src="{% static 'js/extensions/revolution.extension.navigation.min.js' %}"></script>
            <script src="{% static 'js/extensions/revolution.extension.parallax.min.js' %}"></script>
            <script src="{% static 'js/extensions/revolution.extension.slideanims.min.js' %}"></script>
            <script src="{% static 'js/extensions/revolution.extension.video.min.js' %}"></script>

            <script src="{% static 'js/theme.js' %}"></script>
            <!-- End Include All JS -->
    </body>
</html>

{% endblock %}