{% extends 'website/base.html' %}

{% block content %}
{% load static %}
<!-- Begin:: Slider Section -->
        <section class="page_banner" style="background-image: url('{% static 'images/bg/blog.jpg' %}');">
            <div class="container largeContainer">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="banner-title">Latest Posts</h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <p class="breadcrumbs"><a href="index.html" rel="v:url"><i class="twi-home-alt1"></i>Home</a><span>/</span>Latest Posts</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End:: Slider Section -->

         <!-- Blog Start -->
        <section class="singleBlog">
            <div class="container largeContainer">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="sic_details clearfix">
                            <div class="postThumb">
                                <img src="{% static 'images/single-post/1.jpg' %}" alt="">
                            </div>
                            <div class="bmeta">
                                <p><i class="twi-eye2"></i>232 Views</p>
                                <p><i class="twi-comments2"></i>17 Comments</p>
                                <p><i class="twi-calendar-alt2"></i>22 June, 2021</p>
                            </div>
                            <div class="sic_the_content clearfix">
                                <p>
                                    Conveniently whiteboard team building architectures without sticky partnerships. Energistically redefine emerging paradigms after resource sucking bandwidth. Dramatically supply transparent expertise whereas market-driven testing procedures. Professionally visualize client-centric services via inexpensive models.
                                </p>
                                <p>
                                    Conveniently whiteboard team building architectures without sticky partnerships. Energistically redefine emerging paradigms after resource sucking bandwidth. Dramatically supply transparent expertise whereas market-driven testing procedures.
                                </p>
                                <h3 class="bshead">Efficiently monetize models transparent sources redefine distributed</h3>
                                <figure class="wp-block-image">
                                    <img src="{% static 'images/single-post/post.jpg' %}" alt="">
                                </figure>
                                <p>
                                    Objectively optimize strategic technology without 2.0 bandwidth. Monotonectally administrate user-centric results whereas performance based manufactured products. Continually restore premier strategic theme areas through magnetic customer service. Holisticly embrace optimal processes without B2C infomediaries. Holisticly deploy future-proof leadership skills rather than vertical technologies visualize client-centric services via inexpensive models.
                                </p>
                                <blockquote class="wp-block-quote">
                                    <p>
                                        Never be bullied into silence. Never allow yourself to be made a victim. Accept no one's definition of your life; define yourself.
                                    </p>
                                    <cite>by David Smith <strong>Writer</strong></cite>
                                </blockquote>
                                <p>
                                    Collaboratively streamline client-based vortals with ubiquitous best practices. Distinctively incubate cross-unit catalysts for change with user-centric benefits. Seamlessly monetize functional methods of empowerment vis-a-vis bricks-and-clicks meta-services. Intrinsicly incubate out-of-the-box channels after sustainable networks. Rapidiously unleash interactive outsourcing through interoperable networks. Conveniently pontificate prospective applications after just in time materials.
                                </p>
                                <p>
                                    Dramatically reconceptualize out-of-the-box scenarios for flexible applications. Interactively formulate mission-critical technologies via turnkey channels. Distinctively transform progressive methodologies before cost effective total linkage.
                                </p>
                            </div>
                            <div class="spMeta clearfix">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="tags clearfix">
                                            <h5>Related Tags:</h5>
                                            <a href="blog1.html">Business</a>
                                            <a href="blog1.html">Growth</a>
                                            <a href="blog1.html">Focus</a>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="socialShare">
                                            <h5>Share Now:</h5>
                                            <a class="fac" href="javascript:void(0);"><i class="twi-facebook-f"></i></a>
                                            <a class="twi" href="javascript:void(0);"><i class="twi-twitter"></i></a>
                                            <a class="lin" href="javascript:void(0);"><i class="twi-linkedin-in"></i></a>
                                            <a class="pin" href="javascript:void(0);"><i class="twi-pinterest-p"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post_author clearfix">
                                <img src="{% static 'images/single-post/author.jpg' %}" alt="Jasmine Yulk">
                                <span>Written by</span>
                                <h5><a href="javascript:void(0);">Jasmine Yulk</a></h5>
                                <p>
                                    Monotonectally procrastinate transparent architectures before robust opportunities. Progressively parallel task 24/365 mindshare and multimedia based e-markets.
                                </p>
                            </div>
                            <div class="comment_area">
                                <div class="sic_comments">
                                    <h3 class="sicc_title">3 Comments</h3>
                                    <ol class="sicc_list">
                                        <li>
                                            <article class="single_comment clearfix ">
                                                <img src="{% static 'images/single-post/a1.jpg' %}" alt="David Smith">
                                                <span class="cm_date">10 Mar, 2021</span>
                                                <h4 class="cm_author"><a href="javascript:void(0);">David Smith</a></h4>
                                                <div class="sc_content">
                                                    <p>
                                                        Monotonectally procrastinate transparent architectures before robust oppo
                                                        Progressively parallel task 24/365 mindshare and multimedia
                                                    </p>
                                                </div>
                                                <a class="comment-reply-link" href="javascript:void(0);"><i class="twi-reply2"></i>Reply</a>
                                            </article>
                                            <ol class="children">
                                                <li>
                                                    <article class="single_comment clearfix ">
                                                        <img src="{% static 'images/single-post/a2.jpg' %}" alt="David Smith">
                                                        <span class="cm_date">10 Mar, 2021</span>
                                                        <h4 class="cm_author"><a href="javascript:void(0);">Enna Marco</a></h4>
                                                        <div class="sc_content">
                                                            <p>
                                                                Monotonectally procrastinate transparent architectures before robust opportunities.
                                                            </p>
                                                        </div>
                                                        <a class="comment-reply-link" href="javascript:void(0);"><i class="twi-reply2"></i>Reply</a>
                                                    </article>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <article class="single_comment clearfix ">
                                                <img src="{% static 'images/single-post/a3.jpg' %}" alt="David Smith">
                                                <span class="cm_date">10 Mar, 2021</span>
                                                <h4 class="cm_author"><a href="javascript:void(0);">David Smith</a></h4>
                                                <div class="sc_content">
                                                    <p>
                                                        Monotonectally procrastinate transparent architectures before robust oppo
                                                        Progressively parallel task 24/365 mindshare and multimedia
                                                    </p>
                                                </div>
                                                <a class="comment-reply-link" href="javascript:void(0);"><i class="twi-reply2"></i>Reply</a>
                                            </article>
                                        </li>
                                    </ol>
                                </div>
                                <div class="commentForm">
                                    <h3 class="sicc_title">Leave a comment</h3>
                                    <form action="javascript:void(0);" method="post" class="row">
                                        <div class="col-md-12">
                                            <i class="twi-pen2"></i>
                                            <textarea name="comment" placeholder="Write a Message"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <i class="twi-user2"></i>
                                            <input placeholder="Your Name" name="author" type="text">
                                        </div>
                                        <div class="col-md-6">
                                            <i class="twi-envelope2"></i>
                                            <input placeholder="Your Email" name="email" type="email">
                                        </div>
                                        <div class="col-md-12">
                                            <i class="twi-browser2"></i>
                                            <input placeholder="Website" name="website" type="url">
                                        </div>
                                        <div class="col-md-12">
                                            <button class="qu_btn" type="submit"><i class="twi-paper-plane2"></i>Post Comment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebar">
                            <aside class="widget widget_search">
                                <h3 class="widget_title">Search</h3>
                                <form method="get" action="javascript:void(0);" class="search_form">
                                    <input type="search" name="s" id="s" placeholder="Search Here">
                                    <button type="submit"><i class="twi-search2"></i></button>
                                </form>
                            </aside>
                            <div class="widget widget_categories">
                                <h3 class="widget_title">Categories</h3>
                                <ul>
                                    <li><a href="blog1.html">SEO Marketing</a><span>10</span></li>
                                    <li><a href="blog1.html">Financial Work</a><span>07</span></li>
                                    <li><a href="blog1.html">Business Growth</a><span>05</span></li>
                                    <li><a href="blog1.html">Market Strategy</a><span>02</span></li>
                                </ul>
                            </div>
                            <aside class="widget">
                                <h3 class="widget_title">Popular Posts</h3>
                                <div class="pp_post_item">
                                    <img src="{% static 'images/blog/t3.jpg' %}" alt="">
                                    <a href="{% url 'singleblog' %}">Extend market really driven results</a>
                                    <span><i class="twi-calendar-alt2"></i>Mar 21, 2021</span>
                                </div>
                                <div class="pp_post_item">
                                    <img src="{% static 'images/blog/t1.jpg' %}" alt="">
                                    <a href="{% url 'singleblog' %}">Losing never felt so good energy everything</a>
                                    <span><i class="twi-calendar-alt2"></i>Mar 21, 2021</span>
                                </div>
                                <div class="pp_post_item">
                                    <img src="{% static 'images/blog/t2.jpg' %}" alt="">
                                    <a href="{% url 'singleblog' %}">What is Conversion Rate Optimization?</a>
                                    <span><i class="twi-calendar-alt2"></i>Mar 21, 2021</span>
                                </div>
                            </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog End -->

{% endblock %}