# Virtual environments
myenv/
.myenv/

# Django static and media files
/staticfiles/
/media/

# SQLite database file
db.sqlite3

# Ignore compiled files
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyz
*.pyw
*.class
*.o
*.ko

# Environment variables and secrets
.env
secrets.json

# IDE and editor folders
.vscode/
.idea/
